<p class="ml-1">Titulo</p>
<p class="ml-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur commodi dolor, quas aut beatae ratione ut dicta
    atque nulla omnis architecto perferendis voluptatem odit corporis. Voluptates modi fugit minus ullam. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Ullam sequi itaque odit, asperiores excepturi, illum veniam a delectus
    enim doloribus id minima reiciendis quia iure numquam doloremque magnam maxime tenetur.</p>
    &nbsp;
<ul class="grid grid-cols-2 md:grid-cols-4 gap-4 border border-t border-l border-r border-b border-gray-400 p-2 ml-1">
    <li>
        <a routerLink="informacion/1">Heroé</a>
    </li>
    <li>
        <a routerLink="informacion/2">Ghost</a>
    </li>
    <li>
        <a routerLink="informacion/3">Bestia</a>
    </li>
    <li>
        <a routerLink="informacion/4">Esqueleto</a>
    </li>
    <li class="items-center">
        <a routerLink="informacion/5">Sephirot</a>
    </li>
</ul>
&nbsp;
<div class="container mx-auto ml-1 bg-red-600">
    <router-outlet></router-outlet>
</div>
